<div class="row">
    <div class="col-sm-6 col-md-6 col-xs-12" ng-controller="InsuranceCompanyCtrl">
        <div class="slide-animate" ng-include="PanelInfo.panelTemplate">Carregando...</div>
    </div>
    <div class="col-sm-3 col-md-3 col-xs-12">

    </div>
</div>