<div class="row">
    <div class="col-sm-6 col-md-6 col-xs-12" ng-controller="InsuranceCompanyCtrl as insCompCtrl">
        <simpleregister-panel dt-columns="insCompCtrl.dtColumns" sub-title="Empresas" base-title="Plano Dental"></simpleregister-panel>
    </div>
    <div class="col-sm-3 col-md-3 col-xs-12">

    </div>
</div>