@{
    ViewBag.Title = "About";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2 class="sub-header">
            @ViewBag.Title.
        </h2>        
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</div>