<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Funcionário <small>Informações</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <div class="form-horizontal form-label-left input_mask">
                <form role='form' name="frmEmployee" novalidate="">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>Nome</label>
                            <input class="form-control" name="inpName" id="inpName" ng-model="model.EmployeeBag.Name" required="" type="text">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Email</label>
                            <input class="form-control" name="inpEmail" id="inpEmail" ng-model="model.EmployeeBag.Email" required="" type="email">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                            <label>Nascimento</label> 
                            <input class="form-control" name="inpBirthdate" id="inpBirthdate" ng-model="model.EmployeeBag.BirthDate" date-input clean-view-value ui-mask="99/99/9999"  ui-mask-use-viewvalue="true" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gênero</label>
                            <div class="col-md-9 col-sm-9 col-xs-12 gender-padding">
                                <label>Masculino: <input icheck type="radio" name="rdbGender" ng-model="model.EmployeeBag.Gender" value="M" /></label>
                                <label>Feminino:  <input icheck type="radio" name="rdbGender" ng-model="model.EmployeeBag.Gender" value="F" /></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Usuário</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" placeholder="Usuário" name="inpUserName" ng-model="model.EmployeeBag.Login.UserName" required="" type="text" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Senha</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" placeholder="Senha" name="inpPassword" ng-model="model.EmployeeBag.Login.Password" required="" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirmar Senha</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" placeholder="Confirmar Senha" ng-model="model.EmployeeBag.Login.ConfirmPassword" name="inpConfirmPassword" type="password">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="well" style="overflow: auto; padding-left:0px; padding-right:0px">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Telefones <small>Funcionário</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form id="frmPhones" name="frmPhones" novalidate>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-12 form-group">
                                            <input class="form-control" ui-mask-placeholder required ng-model="model.PhoneBag.Number" clean-view-value ui-mask="(99) 99999-9999" type="tel">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="checkbox pull-right">
                                                <label>
                                                    <input icheck type="checkbox" ng-model="model.PhoneBag.isPrincipal"><span style="margin-left: 10px;">Principal?</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <ul class="to_do">
                                            <li ng-repeat="phone in model.EmployeeBag.Phones">
                                                <p>
                                                    <label>
                                                        <input icheck type="checkbox" ng-model="phone.isPrincipal" ng-checked="phone.isPrincipal"><span style="margin-left: 10px;">{{phone.Number}}</span>
                                                    </label>
                                                    <i class="glyphicon glyphicon-remove-circle pull-right" ng-click="Phone.remove($index)"></i>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                                <div class="ln_solid"></div>
                                <div class="form-group pull-right">
                                    <button type="submit" class="btn btn-success" ng-disabled="frmPhones.$invalid" ng-click="Phone.add(model.PhoneBag)">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Endereços <small>Funcionário</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form id="frmAddresses" name="frmAddresses" novalidate>
                                    <div class="row">
                                        <div class="col-md-10 col-sm-10 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" placeholder="Logradouro" ng-model="model.AddressBag.Street" required type="text">
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" ui-mask-placeholder ng-model="model.AddressBag.Number" required type="number">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" placeholder="Complemento" ng-model="model.AddressBag.Additional" type="text">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" placeholder="Bairro" ng-model="model.AddressBag.Neighborhood" required type="text">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" placeholder="Cidade" ng-model="model.AddressBag.City" required type="text">
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" placeholder="Estado" ng-model="model.AddressBag.State" required type="text">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <input class="form-control" id="inputSuccess4" ui-mask-placeholder clean-view-value ng-model="model.AddressBag.PostalCode" ui-mask="99999-999" required type="text">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                <input icheck type="checkbox" ng-model="model.AddressBag.isPrincipal"><span style="margin-left: 10px;">Principal?</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <ul class="to_do">
                                            <li ng-repeat="address in model.EmployeeBag.Addresses">
                                                <a>
                                                    <label>
                                                        <input icheck type="checkbox" ng-model="address.isPrincipal" ng-checked="address.isPrincipal">
                                                    </label>
                                                    <span>
                                                        <span>{{address.Street}}, {{address.Number}} - {{address.Neighborhood}} - {{address.City}} - {{address.State}}</span>
                                                        <span class="time">{{address.PostalCode}}</span>
                                                    </span>
                                                    <span class="message">
                                                        {{address.Additional}}
                                                    </span>
                                                </a>
                                                <i class="glyphicon glyphicon-remove-circle pull-right" ng-click="Address.remove($index)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                                <div class="ln_solid"></div>
                                <div class="form-group pull-right">
                                    <button type="submit" class="btn btn-success" ng-disabled="frmAddresses.$invalid" ng-click="Address.add(model.AddressBag)">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                    <button type="submit" class="btn btn-success" ng-disabled="frmEmployee.$invalid" ng-click="submitForm()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
