@model TemplateMongo.ViewModel.OccupationViewModel
<div class="row panel-body">
    @using (Ajax.BeginForm("Action", "Occupation", htmlAttributes: new { @id = "frmOccupation" }, ajaxOptions: new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lblModalBody",
        OnFailure = "App.SubmitFail",
        OnComplete = "App.Occupation.addManagementAction"
    }))
    {
        @Html.AntiForgeryToken()

        @Html.AddHiddenForMongoID(model => model.OccupationBag.MongoID)
        <div class="col-lg-12">
            <div class="row">
                <h4>Infos</h4>
                <div class="row">
                    @Html.FormControl(model => model.OccupationBag.Name, 8)
                    @Html.FormControl(model => model.OccupationBag.Salary, 4)
                </div>
            </div>
        </div>
    }
</div>